<div class="col-4">
  <div class="card quest-card" data-quest-id="<%= quest[:quest] %>">
    <%= image_tag "#{quest[:name]}.jpg", alt: "#{quest[:name]}: #{quest[:labor]}", class: "card-img-top" %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div title="<%= "#{quest[:name]}: #{quest[:labor]}" %>" class="name">
          <%= quest[:name] %> (<%= quest[:type].titleize %>)
        </div>
      </li>
      <li class="list-group-item labor">
        <%= quest[:labor] %>
      </li>
    </ul>
  </div>
</div>
